body {
	justify-content: center;
	align-items: center;
	margin: 1em 2em;
	background-image: url(./sand.jpg);
	background-repeat: repeat;
}

body.vscode-dark {
	background-image: url(./sand-dark.jpg);
}

.pre-code {
	border: 1px solid blue;
	background: #0167ff42;
	color: white;
	border-radius: 8px;
	border-bottom: 0;
	margin-bottom: -16px;
	padding: 8px;
	display: flex;
	justify-content: space-between;
}

.action {
	border: 1px solid blue;
	padding: 4px 8px;
	border-radius: 4px;
	background-color: white;
	color: blue;
}
